<html>
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">

<style>

.active button {
	font-weight: bold;
}

.big {
	font-size: 30px;
}

.text-danger button {
	color: red;
}

.selected {
	font-weight: bold;
}

.removed {
	text-decoration: line-through;
}

</style>

</head>

<body>

<div id="app">
	<app-nav :class="classList"></app-nav>
	<app-view>
	    <app-sidebar></app-sidebar>
	    <app-content></app-content>
	</app-view>
	<app-view></app-view>
</div>

<hr>

<div id="app5">
  <p :class="[classSelected, classRemoved]">{{ message }}</p>
  <p>Reversed: {{ reversedMessage }}</p>
	<form action="https://google.com/" class="big" :class="classList" v-show="showForm">
		<button type="submit" @click.prevent="onClick1">Перевернуть сообщение</button>

		<template v-for="n in 10">
			<b @click="alert(n)">Повторяющееся</b> <button type="submit" @click="warn(n, $event)">сообщение</button> <u>{{ n }}</u><br>
		</template>
	</form>
	<br>
	<label>
		<input type="checkbox" v-model="checked" @click="checked = !checked"> {{ checked }}
	</label>
</div>

<hr>

<div id="app6">
  <p>{{ message }}</p>
  [ <span v-html="message" :style="{ color: activeColor, fontSize: fontSize + 'px', 'font-weight': fontWeight }"></span> ]
  <input v-model.lazy="message" @click="onClick">
  <textarea :disabled="isInputDisabled" :style="styleList">{{ message }} 111</textarea>
  <a :href="message" target="_blank">{{ message }}</a>

  <div :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">
  		<input type="text" :value="firstName">
  		<input type="text" :value="lastName">
	</div>

	Login:<br>

	<template v-if="loginType === 'username'">
	  <label>Имя пользователя</label>
	  <custom-input v-model="userName" :placeholder="'Введите имя пользователя'" key="username-input"></custom-input>
	</template>
	<template v-else>
	  <label>Email</label>
	  <input placeholder="Введите адрес email" key="email-input">
	  <p>Подсказка1:</p>
	  <ul>
	  	<li v-for="n in evenNumbers">{{ n }}</li>
	  </ul>
	  <p>Подсказка2:</p>
	  <ul v-for="set in sets">
	    <li v-for="n in even(set)">{{ n }}</li>
	  </ul>
	</template>
</div>

<div id="dynamic-component-demo" class="demo">
  <button
    v-for="tab in tabs"
    :key="tab"
    :class="['tab-button', { active: currentTab === tab }]"
    @click="currentTab = tab"
  >
    {{ tab }}
  </button>
  <component :is="currentTabComponent" class="tab"></component>
</div>

<script type="module" src="script.es6.js"></script>
<script nomodule src="script.js"></script>

</body>
</html>