<html>
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">

<style>

.active button {
	font-weight: bold;
}

.big {
	font-size: 30px;
}

.text-danger button {
	color: red;
}

.selected {
	font-weight: bold;
}

.removed {
	text-decoration: line-through;
}

</style>

</head>

<body>

<div id="app">
	<app-nav :class="classList"></app-nav>
	<app-view111>
	    <app-sidebar></app-sidebar>
	    <app-content></app-content>
	</app-view111>
	<app-view></app-view>
</div>

<hr>

<div id="app5">
  <p :class="[classSelected, classRemoved]">{{ message }}</p>
  <p>Reversed: {{ reversedMessage }}</p>
	<form action="https://google.com/" class="big" :class="classList" v-show="showForm">
		<button type="submit" @click.prevent="onClick1">Перевернуть сообщение</button>
	</form>

	<template v-for="n in 10">
		<b>Повторяющееся</b> <i>сообщение</i> <u>{{ n }}</u><br>
	</template>
</div>

<hr>

<div id="app6">
  <p>{{ message }}</p>
  [ <span v-html="message" :style="{ color: activeColor, fontSize: fontSize + 'px', 'font-weight': fontWeight }"></span> ]
  <input v-model="message" @click="onClick">
  <textarea :disabled="isInputDisabled" :style="styleList">{{ message }}</textarea>
  <a :href="message" target="_blank">{{ message }}</a>

  <div :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">
  		<input type="text" :value="firstName">
  		<input type="text" :value="lastName">
	</div>

	Login:<br>

	<template v-if="loginType === 'username'">
	  <label>Имя пользователя</label>
	  <input placeholder="Введите имя пользователя" key="username-input">
	</template>
	<template v-else>
	  <label>Email</label>
	  <input placeholder="Введите адрес email" key="email-input">
	  <p>Подсказка1:</p>
	  <ul>
	  	<li v-for="n in evenNumbers">{{ n }}</li>
	  </ul>
	  <p>Подсказка2:</p>
	  <ul v-for="set in sets">
	    <li v-for="n in even(set)">{{ n }}</li>
	  </ul>
	</template>
</div>

<script type="module" src="script.es6.js"></script>
<script nomodule src="script.js"></script>

</body>
</html>